<ion-view title="Southeastern Grocers" id="page2">
    <ion-content padding="true" class="has-header">
        <form class="list">
            <h2 id="southeasternGrocers-heading2" style="color:#000000;text-align:center;">Current Recalls and Withdrawals</h2>
        </form>
        <!--copy from here-->
        <a href="#" onclick="window.open('http://randjamal.github.io/recalls/pdfs/060716_vitamin.pdf', '_system', 'location=no'); return false;" id="southeasternGrocers-button5" class="button button-balanced  button-block">Nature Made Vitamins</a>
        <div id="southeasternGrocers-markdown1" style="color:#000000;text-align:center;">
            <p>Applies to: 6/7/2016</p>
        </div>
        <div>
            <hr>
        </div>
         <!--to here-->
        <!--copy from here-->
        <a href="#" onclick="window.open('http://randjamal.github.io/recalls/pdfs/060716_Carters.pdf', '_system', 'location=no'); return false;" id="southeasternGrocers-button5" class="button button-balanced  button-block">Carter’s Mustard Sauce</a>
        <div id="southeasternGrocers-markdown1" style="color:#000000;text-align:center;">
            <p>Applies to: 6/7/2016</p>
        </div>
        <div>
            <hr>
        </div>
         <!--to here-->
                <!--copy from here-->
        <a href="#" onclick="window.open('http://randjamal.github.io/recalls/pdfs/060616_Post.pdf', '_system', 'location=no'); return false;" id="southeasternGrocers-button5" class="button button-balanced  button-block">Post Great Grains</a>
        <div id="southeasternGrocers-markdown1" style="color:#000000;text-align:center;">
            <p>Applies to: BI-LO Stores</p>
            <p>Launched: 6/6/2016</p>
        </div>
        <div>
            <hr>
        </div>
         <!--to here-->
        <!--copy from here-->
        <a href="#" onclick="window.open('http://randjamal.github.io/recalls/pdfs/060316_crackers.pdf', '_system', 'location=no'); return false;" id="southeasternGrocers-button5" class="button button-balanced  button-block">WD Oyster Crackers</a>
        <div id="southeasternGrocers-markdown1" style="color:#000000;text-align:center;">
            <p>Applies to: Plant City DC Stores Only</p>
            <p>Launched: 6/3/2016</p>
        </div>
        <div>
            <hr>
        </div>
         <!--to here-->
        <div>
            <img src="img/jezcwTLhSyG0U1zV3Fsl_2016-04-29 21_36_21-Jump List for File Explorer.png" width="150" height="100" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
    </ion-content>
</ion-view>