<ion-view title="Southeastern Grocers" id="page2">
    <ion-content padding="true" class="has-header">
        <form class="list">
            <h2 id="southeasternGrocers-heading2" style="color:#000000;text-align:center;">Current Recalls and Withdrawals</h2>
        </form>
                <!--copy from here-->
        <a href="#" onclick="window.open('http://randjamal.github.io/recalls/pdfs/5.10_Trail_Mix.pdf', '_system', 'location=no'); return false;" id="southeasternGrocers-button5" class="button button-balanced  button-block">Product Recall: Woodstock Cape Cod Cranberry Trail Mix</a>
        <div id="southeasternGrocers-markdown1" style="color:#000000;text-align:center;">
            <p>Applies to: Only Stores 2425, 2435, 2437, 2439, 2443, 2461, 2527</p>
            <p>Launched: 5/10/2016</p>
        </div>
        <div>
            <hr>
        </div>
         <!--to here-->
        <!--copy from here-->
        <a href="#" onclick="window.open('http://randjamal.github.io/recalls/pdfs/salt.pdf', '_system', 'location=no'); return false;" id="southeasternGrocers-button5" class="button button-balanced  button-block">Product Withdrawal: Morton Pool Salt</a>
        <div id="southeasternGrocers-markdown1" style="color:#000000;text-align:center;">
            <p>Applies to: All Stores</p>
            <p>Launched: 5/10/2016</p>
        </div>
        <div>
            <hr>
        </div>
         <!--to here-->
                 <!--copy from here-->
        <a href="#" onclick="window.open('http://randjamal.github.io/recalls/pdfs/friedrice.pdf', '_system', 'location=no'); return false;" id="southeasternGrocers-button6" class="button button-balanced  button-block">Class I Recall: Fried Rice Frozen Dinner</a>
        <div id="southeasternGrocers-markdown1" style="color:#000000;text-align:center;">
            <p>Applies to: All Stores</p>
            <p>Due: 5/10/2016</p>
        </div>
        <div>
            <hr>
        </div>
         <!--to here-->
        <div>
            <img src="img/jezcwTLhSyG0U1zV3Fsl_2016-04-29 21_36_21-Jump List for File Explorer.png" width="150" height="100" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
    </ion-content>
</ion-view>