<ion-view title="Southeastern Grocers" id="page2">
    <ion-content padding="true" class="has-header">
        <form class="list">
            <h2 id="southeasternGrocers-heading2" style="color:#000000;text-align:center;">Current Surveys</h2>
        </form>
        <!--copy from here-->
        <a href="#" onclick="window.open('https://www.surveymonkey.com/r/B87PCP5', '_blank', 'location=no'); return false;" id="southeasternGrocers-button5" class="button button-balanced  button-block">BI-LO Checkstand Survey</a>
        <div id="southeasternGrocers-markdown1" style="color:#000000;text-align:center;">
            <p>Applies to: All BI-LO Stores</p>
            <p>Due: 6/17/2016</p>
        </div>
        <div>
            <hr>
        </div>
         <!--to here-->
                 <!--copy from here-->
        <a href="#" onclick="window.open('https://www.surveymonkey.com/r/GHDGKWQ', '_blank', 'location=no'); return false;" id="southeasternGrocers-button6" class="button button-balanced  button-block">Asset Protection Specialist Survey</a>
        <div id="southeasternGrocers-markdown1" style="color:#000000;text-align:center;">
            <p>Applies to: All Stores</p>
            <p>Due: 6/17/2016</p>
        </div>
        <div>
            <hr>
        </div>
         <!--to here-->
        <div>
            <img src="img/jezcwTLhSyG0U1zV3Fsl_2016-04-29 21_36_21-Jump List for File Explorer.png" width="150" height="100" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
    </ion-content>
</ion-view>