<ion-view title="Southeastern Grocers" id="page2">
    <ion-content padding="true" class="has-header">
        <form class="list">
            <h2 id="southeasternGrocers-heading2" style="color:#000000;text-align:center;">Current Surveys</h2>
        </form>
        <a href="#" onclick="window.open('https://www.surveymonkey.com/r/YX22TTL', '_system', 'location=yes'); return false;" id="southeasternGrocers-button5" class="button button-balanced  button-block">Demo Station Survey</a>
        <div id="southeasternGrocers-markdown1" style="color:#000000;text-align:center;">
            <p>Applies to: Select stores issued a demo station</p>
        </div>
        <div>
            <hr>
        </div>
        <a href="#" onclick="window.open('https://www.surveymonkey.com/r/YFZ697T', '_system', 'location=yes'); return false;" id="southeasternGrocers-button6" class="button button-balanced  button-block">Tag Rail Survey</a>
        <div id="southeasternGrocers-markdown2" style="color:#000000;text-align:center;">
            <p>Applies to: All BI-LO Stores</p>
        </div>
        <div>
            <hr>
        </div>
        <a href="#" onclick="window.open('https://www.surveymonkey.com/r/YFQQJKW', '_system', 'location=yes'); return false;" id="southeasternGrocers-button7" class="button button-balanced  button-block">In Store Radio Survey</a>
        <div id="southeasternGrocers-markdown3" style="color:#000000;text-align:center;">
            <p>Applies to: All Stores</p>
        </div>
        <div>
            <hr>
        </div>
        <div>
            <img src="img/jezcwTLhSyG0U1zV3Fsl_2016-04-29 21_36_21-Jump List for File Explorer.png" width="150" height="100" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
    </ion-content>
</ion-view>